# docker-compose.yml

version: '3'

services:

  django:
    build:
      context: ./db
      dockerfile: ./Dockerfile
    container_name: database
    ports: 
      - "27017:27017"
    expose: 
      - "8000"
    networks:
      network:
        ipv4_address: 172.20.0.2

  node:
    build:
      context: ./web
      dockerfile: ./Dockerfile
    container_name: server
    ports: 
      - "8080:8080"
    networks:
      network:
        ipv4_address: 172.20.0.3
    
networks:

  network:
    ipam:
      driver: default
      config:
        - subnet: "172.20.0.0/24"
          gateway: 172.20.0.1